venv/
.venv/
__pycache__/
.old/
old/
*.pyc
.DS_Store
Note.txt
.azure/
node_modules/
data.csv
app2.py
app_bar_bubble.py
Dockerfile
render-build.sh
startup.txt
pU_equation.png
pL_equation.png
EU_equation.png
app.zip
.deployment
