/* Styles for the app bar tab links */
.tab-link:hover {
    background-color: #478ECC; /* Background color when hovered */
    color: white;  /* Text color when hovered */
    border-radius: 5px;
    padding: 5px 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}


h2 {
    margin-top: 20px;
    margin-bottom: 10px;
}

p {
    margin-bottom: 15px;
}

ul {
    margin-top: 10px;
    text-align: left; /* Align the team list to the left */
    display: inline-block; /* To ensure it's aligned in the center container */
}
